@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html {
  height: 100%; }

body,
html {
  background: #f2f4f8;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  position: relative;
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222d43;
  padding: 0;
  margin: 0; }

p,
blockquote,
pre,
span,
strong,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: #333;
  padding: 0;
  margin: 0; }

img {
  -webkit-user-drag: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

strong {
  font-weight: bold; }

button {
  outline: none; }

input,
select {
  color: #999999; }

a {
  color: #222d43;
  cursor: pointer;
  text-decoration: none; }

.select-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #047bf8;
  border-radius: 6px; }
  .select-wrap:before {
    margin-right: 8px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 4px; }
  .select-wrap select {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 2;
    display: block;
    color: #fff !important;
    margin: 0;
    padding: 11px 35px 11px 11px;
    border: 0;
    outline: none;
    font-size: 16px; }

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.vh-centered {
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute; }

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute; }

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

.eff01 {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.eff02 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.eff03 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.eff04 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.eff05 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.eff06 {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.eff07 {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.eff08 {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.eff0 {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease; }

.eff1 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.inner-wrap {
  position: relative;
  max-width: 1200px;
  width: -webkit-calc( 100% - 32px );
  width: -moz-calc( 100% - 32px );
  width: calc( 100% - 32px );
  margin: 0 auto; }

.btn {
  border: solid 1px;
  color: #fff !important;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  padding: 2px 6px !important;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 12px !important;
  font-weight: 600 !important; }
  .btn.orange {
    background: #f0ad4e; }
  .btn.green {
    background: #90be2e; }

.col-25 {
  float: left;
  width: -webkit-calc( 25% - 12px );
  width: -moz-calc( 25% - 12px );
  width: calc( 25% - 12px );
  margin-right: 16px;
  margin-bottom: 16px; }
  .col-25:nth-child(4n+4) {
    margin-right: 0 !important; }

.col-30 {
  float: left;
  width: -webkit-calc( 33.3% - 16px );
  width: -moz-calc( 33.3% - 16px );
  width: calc( 33.3% - 16px );
  margin-right: 24px; }
  .col-30:nth-child(3n+3) {
    margin-right: 0 !important; }

.col-50 {
  float: left;
  width: -webkit-calc( 50% - 8px );
  width: -moz-calc( 50% - 8px );
  width: calc( 50% - 8px );
  margin-right: 16px;
  margin-bottom: 8px; }
  .col-50:nth-child(2n+2) {
    margin-right: 0 !important; }

.col-60 {
  float: left;
  width: -webkit-calc( 60% - 32px );
  width: -moz-calc( 60% - 32px );
  width: calc( 60% - 32px );
  margin-right: 32px !important; }

.col-40 {
  float: left;
  width: -webkit-calc( 40% - 0px );
  width: -moz-calc( 40% - 0px );
  width: calc( 40% - 0px ); }

.col-75 {
  float: left;
  width: -webkit-calc( 75% - 8px );
  width: -moz-calc( 75% - 8px );
  width: calc( 75% - 8px ); }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.hidden-b {
  overflow: hidden; }

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000009; }
  .loading-overlay .loading-icon-wrap {
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFF; }
    .loading-overlay .loading-icon-wrap img {
      width: 100%; }

* {
  color: #3e4b5b !important; }

.table_wrap {
  padding: 48px 0;
  width: 100%;
  max-width: 1400px;
  margin: auto; }
  .table_wrap .title {
    color: #334152;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600; }
    .table_wrap .title:after {
      content: "";
      width: 36px;
      border-radius: 6px;
      border: 4px #047bf8 solid;
      display: block;
      margin-top: 12px; }

tr:first-child td {
  border: 0 !important; }

th,
td {
  vertical-align: inherit !important;
  padding: 24px 0 !important; }
  th:nth-child(3),
  td:nth-child(3) {
    padding-right: 120px !important; }

th {
  font-size: 13px !important; }

td {
  font-size: 13px !important;
  font-weight: 600; }
  td span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px; }

.t_wrap {
  position: relative;
  margin-top: 40px;
  background: #fff;
  padding: 0 32px;
  border-radius: 6px;
  box-shadow: 0px 6px 24px #c7c7c7, 0px 0px 1px rgba(107, 108, 111, 0.24); }
  .t_wrap .sell_now {
    color: #047bf8 !important;
    font-weight: 600;
    cursor: pointer;
    padding-left: 24px !important; }

table {
  border: 0 !important; }

.range {
  background: #eceeef;
  height: 20px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  margin-bottom: 6px; }
  .range div {
    background: #047bf8;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0; }

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-left: 0 !important;
  border-right: 0 !important; }

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
